.main-footer{
  margin-top: auto;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em ;
  p{
    margin-bottom: 0;
  }
  @include from(l){
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 10%;
    a{
      transition: color .3s ease;
      &:hover{
        color: var(--color-main);
      }
    }
  }
}
