.Home {
  width: 100%;
  height: 100vh;
  background: #000;
  margin-bottom: 0;
  position: relative;
  color: #fdfdfd;
}
.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  opacity: 0.35;
  // z-index: -1;
}
.top {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 75%;
  // column-gap: 10vw;
  img {
    max-width: 35vw;
    margin: 0 auto;
  }
  h1 {
    font-size: 1.75vw;
    padding: 0 5vw;
    text-align: center;
    text-transform: uppercase;
  }
}
.bottom {
  position: relative;
  padding-left: 15vw;
  padding-right: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  p,
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  a {
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
  .logo-geotica {
    width: auto;
    height: 2em;
  }
  .compass {
    width: auto;
    height: 4em;
    animation: tourn 2s infinite reverse;
    @keyframes tourn {
      to {
        transform: rotateY(180deg);
      }
    }
  }
}
