---
import Down from './Down.astro';
import Up from './Up.astro';
---

<section class="About" id="somos">
  <Up to="#home" />
  <h2>SOMOS</h2>
  <div class="About__grid">
    <img src="/somos-banner.jpg" alt="Somos" />
    <div class="text">
      <p>
        Somos un taller de ingeniería, creativo e innovador, dedicado a la
        gestión y planeación de proyectos a gran escala. PLANEAMOS DISEÑAMOS Y
        SUPERVISAMOS LAS OBRAS QUE NUESTRAS REGIONES Y COMUNIDADES NECESITAN.
        <p>
          Nuestra Participación comprende los ámbitos de las vialidades urbanas
          y rurales, así como ferroviarias, portuarias y aeroportuarias.
        </p>
        <p>
          Contamos con un equipo capaz, multidisciplinario y talentoso que
          cuenta con la experiencia y visión suficientes para PROYECTAR GRANDES
          OBRAS DE INGENIERÍA.
        </p>
      </p>
    </div>
  </div>
  <Down to="#contacto" />
</section>
