---
import Down from './Down.astro';
---

<section class="Home" id="home">
  <img class="bg" src="/tm.jpg" alt="<sd" />
  <div class="top">
    <img src="/logo-home.png" alt="Logotipo Plint" />
    <h1 class="slogan">
      Con experiencia, capacidad y actitud ayudamos a construir un mundo mejor
    </h1>
  </div>
  <div class="bottom">
    <p>
      Una Epresa más de
      <img class="logo-geotica" src="/geotica.svg" alt="geotica" />
    </p>
    <a href="https://geotica.com.mx" target="_blank">
      conoce Más
      <img class="compass" src="/compas.svg" alt="geotica" />
    </a>
  </div>
  <Down to="#somos" />
</section>
